body{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #798083;
    margin: 1.5rem;
    color: black;
}

section{
    margin: 2rem;
    padding: 1.5rem;
    color: black;
    background-color: #C2CCCC;
}


p{
    padding: 1rem;
}

header{
    color: aliceblue;
    background-color: #677578;
    padding: 1.2rem;
}

h1{
    text-align: center;
}

h2{
    color: #575C5C;
    background-color: #C2CCCC;
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
}

table{
    color: aliceblue;
    background-color: black;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

th{
    color: aliceblue;
    background-color: #798080;
}

tr{
    color: aliceblue;
    background-color: #798080;
}

li > a{
    color: aliceblue;
    background-color: #798080;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-size: 1.3rem;
    transition: 0.2s;
}

footer{
    background-color: #677578;
    color: aliceblue;
    text-align: center;
    padding: 1.3rem;
}