body{/*Especifidad 1 punto*/
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #798083;
    margin: 1.5rem;
    color: black;
}

section{/*Especifidad 1 punto*/
    margin: 2rem;
    padding: 1.5rem;
    color: black;
    background-color: #C2CCCC;
}


p{/*Especifidad 1 punto*/
    padding: 1rem;
}

header{/*Especifidad 1 punto*/
    color: aliceblue;
    background-color: #677578;
    padding: 1.2rem;
}

h1{/*Especifidad 1 punto*/
    text-align: center;
}

h2{
    color: #575C5C;
    background-color: #C2CCCC;
    text-align: center;
}

ul{/*Especifidad 1 punto*/
    list-style: none;
    text-align: center;
}

table{/*Especifidad 1 punto*/
    color: aliceblue;
    background-color: black;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

th{/*Especifidad 1 punto*/
    color: aliceblue;
    background-color: #798080;
}

tr{/*Especifidad 1 punto*/
    color: aliceblue;
    background-color: #798080;
}

li > a{/*Especifidad 2 puntos*/
    color: aliceblue;
    background-color: #677578;
    text-decoration: none;
}

a:hover{/*Especifidad 1 punto*/
    text-decoration: underline;
    font-size: 1.3rem;
    transition: 0.2s;
}

footer{/*Especifidad 1 punto*/
    background-color: #677578;
    color: aliceblue;
    text-align: center;
    padding: 1.3rem;
}