.numberTitle{/*Especifidad 10 puntos*/
    text-align: left;
    margin: 1.5rem;
}

.gif{/*Especifidad 10 puntos*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
  }

.poster{/*Especifidad 10 puntos*/
    float: right;
    margin: 2rem;
}

.protagonistas{/*Especifidad 10 puntos*/
    display: inline-block;
    margin: 7rem;
}

.estrenos{/*Especifidad 10 puntos*/
    display: flex;
    align-items: center;
}

video{/*Especifidad 1 punto*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 300px;
  }
nav li{/*Especifidad 2 puntos*/
    display: inline-block;
    margin: 1.5rem;
}  